.product-item{
    color: #4d4d4d;
font-family: Roboto,sans-serif;
font-weight: 400;
line-height: 1.3;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.f-right{
    align-self: flex-end;

}


.product-list{
    margin:20px
}
.css-hi2i2r {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 24px;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    z-index: 2;
    background-color: rgb(255, 223, 40);
    color: rgb(238, 37, 39);
    font-size: 0.875em;
    width: 100%;
    padding: 0px 8px;
}
.css-c8w35i {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 2px;
    width: 100%;
}
.css-wt0fwe{height: 25px;}
.css-hg3rl0 {
    height: 154px;
    padding: 0px 2px;
}.css-1pnv3q4 {
    /* margin: 5px 0px 3px; */
    padding: 0px 5px;
}.css-1pnv3q4 {
    font-size: 1.1em;
    line-height: 1.625em;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    margin: 5px 0px;
    padding: 0px 5px;
}.css-sjzzz0 {
    color: grey;
    font-size: 0.9em;
    /* font-weight: bold;
    height: 12px;
    margin-bottom: 8px; */
    padding: 0px 5px;
}.css-3ht5in {
    /* margin: 0px 0px 14px; */
    padding: 0px 5px;
}.css-abm2xy {
    /* display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 40px;
    border-top: 1px solid rgb(230, 230, 230); */
    padding: 8px;
}.css-1peg6kw {
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}.css-1peg6kw img {
    display: block;
    height: 100%;
    max-width: 100%;
    min-height: 1px;
    pointer-events: none;
    position: relative;
    -webkit-user-drag: none;
    width: auto;
    z-index: 1;
}.css-1xl51ng {
    color: rgb(77, 77, 77);
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
}.css-k5xvqz {
    font-size: 0.813em;
}.css-1mwn02k {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}.css-2078ch {
    width: 75%;
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(77, 77, 77);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    line-height: 1.4;
    font-weight: 500;
    margin: 0px 6px 0px 0px;
    padding: 5px 0px;
}.css-du7cmn {
    background-color: #21B9E8;
    color: rgb(250, 250, 250);
    float: right;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px;
    transition-property: box-shadow, background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    font-size: 0.875em;
    font-weight: 600;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 5px 12px;
}.css-du7cmm{
    margin: 3px;
    display: inline-block;
    line-height: 1em;
    color: black;
    font-weight: bold;
    font-size: 0.7em;
}.css-3ibtn7 {
    font-size: 0.875em;
    direction: initial;
}.css-2078ch svg {
    color: rgb(77, 77, 77);
    position: relative;
    top: 0px;
}
.css-1xhl7rj{
    color: red;
    font-size: 1.1em;
    font-weight: bold;
}

.css-1xhl7rj span{
    color: black;
    font-weight: 600;
    margin-left: 2px;
}

.css-1xhl7rjd{
    color: grey;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: line-through;
}
