<main class="bg_gray">
    <div class="maf-container margin_30">
    <div class="page_header" [ngClass]="{'rtl': is_rtl}">
        <!-- <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li>Page active</li>
            </ul>
        </div> -->
        <h1 translate="wishlist.recent"></h1>
    </div>

  
      <!-- /container -->
      <div class="">
        <div class="row m-1" [ngClass]="{'rtl': is_rtl}">
            <div class="m-1">
              <div class="product-item" style="width: 205px;">
                <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                  <div class="css-wt0fwe">
                    <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div>
                  </div>
                  <div class="css-c8w35i">
                    <div class="css-hg3rl0"><a [routerLink]="['/product']" [routerLink]="['/product']">
                      <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/orange.jpg" src="assets/img/products/orange.jpg" data-was-processed="true">
                      <div class="img-placeholder"></div>
                    </figure></a></div>
                    <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"  ><a [routerLink]="['/product']" translate="category.orange"></a></h3>
                    <div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" >
                    <div type="discount"  class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                    <div type="discount"  class="css-1xhl7rjd">100 <b>EGP</b></div>
                    </div>
                    <!-- <p class="css-sjzzz0"  [ngClass]="{'rtl': is_rtl}" translate="category.fruits"></p> -->
                    <div class="css-abm2xy">
                      <div class="css-1mwn02k d-flex">
                        <a [routerLink]="['/wishlist']">
                          <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                      </a>
                        <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                      </div></div></div></div></div>
            </div>

            <div class="m-1">
              <div class="product-item" style="width: 205px;">
                <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                  <div class="css-wt0fwe">
                    <!-- <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div> -->
                  </div>
                  <div class="css-c8w35i">
                    <div class="css-hg3rl0"><a [routerLink]="['/product']">
                      <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/olive-oil.jpg" src="assets/img/products/olive-oil.jpg" data-was-processed="true">
                      <div class="img-placeholder"></div>
                    </figure></a></div>
                    <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"><a [routerLink]="['/product']" translate="category.olive_oil"></a></h3>
                    <div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" ><div type="discount" class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                    <div type="discount" class="css-1xhl7rjd">95 <b>EGP</b></div>
                    </div>
                    
                    <div class="css-abm2xy">
                      <div class="css-1mwn02k d-flex">
                        <a [routerLink]="['/wishlist']">
                          <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                      </a>
                        <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                      </div></div></div></div></div>
            </div>

            <div class="m-1">
              <div class="product-item" style="width: 205px;">
                <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                  <div class="css-wt0fwe">
                    <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div>
                  </div>
                  <div class="css-c8w35i">
                    <div class="css-hg3rl0"><a [routerLink]="['/product']">
                      <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/pomegranate.jpg" src="assets/img/products/pomegranate.jpg" data-was-processed="true">
                      <div class="img-placeholder"></div>
                    </figure></a></div>
                    <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"><a [routerLink]="['/product']" translate="category.pomegranate"></a></h3>
<div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" ><div type="discount" class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                    <div type="discount" class="css-1xhl7rjd">100 <b>EGP</b></div>
                    </div>                    
                    <div class="css-abm2xy">
                      <div class="css-1mwn02k d-flex">
                        <a [routerLink]="['/wishlist']">
                          <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                      </a>
                        <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                      </div></div></div></div></div>
            </div>
            <div class="m-1">
              <div class="product-item" style="width: 205px;">
                <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                  <div class="css-wt0fwe">
                    <!-- <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div> -->
                  </div>
                  <div class="css-c8w35i">
                    <div class="css-hg3rl0"><a [routerLink]="['/product']">
                      <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/tomatoes.jpg" src="assets/img/products/tomatoes.jpg" data-was-processed="true">
                      <div class="img-placeholder"></div>
                    </figure></a></div>
                    <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"><a [routerLink]="['/product']" translate="category.tomato"></a></h3>
<div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" ><div type="discount" class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                    <div type="discount" class="css-1xhl7rjd">110 <b>EGP</b></div>
                    </div>                    
                    <div class="css-abm2xy">
                      <div class="css-1mwn02k d-flex">
                        <a [routerLink]="['/wishlist']">
                          <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                      </a>
                        <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                      </div></div></div></div></div>
            </div>
         
          </div>
        <!-- /row -->
      </div>


      
    <!-- /page_header -->
    <table class="table table-striped cart-list" [ngClass]="{'table-rtl': is_rtl}">
                        <thead>
                            <tr>
                                <th translate="cart.product">
                                </th>
                                <th translate="cart.price">
                                </th>
                                <th translate="cart.quantity">
                                </th>
                                <th translate="cart.subtotal">
                                </th>
                                <th>
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="thumb_cart">
                                        <img src="assets/img/products/orange.jpg" data-src="assets/img/products/orange.jpg" class="lazy" alt="Image">
                                    </div>
                                    <span class="item_cart" translate="category.orange"></span>
                                </td>
                                <td>
                                    <strong>140.00 EGP</strong>
                                </td>
                                <td>
                                    <div class="numbers-row">
                                        <input type="text" value="1" id="quantity_1" class="qty2" name="quantity_1">
                                    <div class="inc button_inc">+</div><div class="dec button_inc">-</div></div>
                                </td>
                                <td>
                                    <strong>140.00 EGP</strong>
                                </td>
                                <td class="options">
                                    <a href="#"><i class="ti-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="thumb_cart">
                                        <img src="assets/img/products/tomatoes.jpg" data-src="img/products/shoes/2.jpg" class="lazy" alt="Image">
                                    </div>
                                    <span class="item_cart" translate="category.tomato"></span>
                                </td>
                                <td>
                                    <strong>110.00 EGP</strong>
                                </td>
                                <td>
                                    <div class="numbers-row">
                                        <input type="text" value="1" id="quantity_2" class="qty2" name="quantity_2">
                                    <div class="inc button_inc">+</div><div class="dec button_inc">-</div></div>
                                </td>
                                <td>
                                    <strong>110.00 EGP</strong>
                                </td>
                                <td class="options">
                                    <a href="#"><i class="ti-trash"></i></a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>

                    <div class="row add_top_30 flex-sm-row-reverse cart_actions">
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn_1 gray" translate="cart.update"></button>
                    </div>
                        <div class="col-sm-8">
                        <div class="apply-coupon">
                            <div class="form-group form-inline">
                                <input type="text" name="coupon-code" value="" [placeholder]="'cart.code' | translate" class="form-control"><button type="button" class="btn_1 outline" translate="cart.apply"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /cart_actions -->

    </div>
    <!-- /container -->
    
    <div class="box_cart">
        <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-4 col-lg-4 col-md-6">
        <ul>
            <li>
                <span translate="cart.subtotal"></span> 240.00 EGP
            </li>
            <li>
                <span translate="cart.shiping"></span> 7.00 EGP
            </li>
            <li>
                <span translate="cart.total"></span> 247.00 EGP
            </li>
        </ul>
        <a routerLink="/checkout" class="btn_1 full-width cart" translate="cart.proceed"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /box_cart -->
    
</main>