<main class="bg_gray">
    <div class="container margin_30">
    <div class="page_header">
        <!-- <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li>Page active</li>
            </ul>
        </div> -->
        <h1 translate="wishlist.recent"></h1>
    </div>

  
      <!-- /container -->
      <div class="container">
        <div class="row small-gutters">
          <!-- /col -->
          <div *ngFor="let Product of Products" class="col-6 col-md-4 col-xl-3">
            <div class="grid_item">
              <span class="ribbon hot" translate="category.fruits"></span>
              <figure>
                <a [routerLink]="['/product']">
                  <img class="img-fluid lazy" [src]="Product.image" alt="">
                  <img class="img-fluid lazy" [src]="Product.image" alt="">
                </a>
              </figure>
              <a [routerLink]="['/product']">
                <h3 translate="category.orange"></h3>
              </a>
              <div class="price_box">
                <span class="new_price">${{Product.price}}</span>
              </div>
              <ul>
                <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a></li>
                <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a></li>
              </ul>
            </div>
            <!-- /grid_item -->
          </div>
          <div *ngFor="let Product of Products" class="col-6 col-md-4 col-xl-3">
            <div class="grid_item">
              <span class="ribbon hot" translate="category.grocery"></span>
              <figure>
                <a [routerLink]="['/product']">
                  <img class="img-fluid lazy" src="assets/img/products/olive-oil.jpg" alt="">
                  <img class="img-fluid lazy" [src]="Product.image" alt="">
                </a>
              </figure>
              <a [routerLink]="['/product']">
                <h3 translate="category.olive_oil"></h3>
              </a>
              <div class="price_box">
                <span class="new_price">$100</span>
              </div>
              <ul>
                <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to favorites"><i class="ti-heart"></i><span>Add to favorites</span></a></li>
                <li><a href="#0" class="tooltip-1" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="ti-shopping-cart"></i><span>Add to cart</span></a></li>
              </ul>
            </div>
            <!-- /grid_item -->
          </div>
          <!-- /col -->
        </div>
        <!-- /row -->
      </div>


      
    <!-- /page_header -->
    <table class="table table-striped cart-list">
                        <thead>
                            <tr>
                                <th translate="cart.product">
                                </th>
                                <th translate="cart.price">
                                </th>
                                <th translate="cart.quantity">
                                </th>
                                <th translate="cart.subtotal">
                                </th>
                                <th>
                                    
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="thumb_cart">
                                        <img src="assets/img/products/orange.jpg" data-src="assets/img/products/orange.jpg" class="lazy" alt="Image">
                                    </div>
                                    <span class="item_cart" translate="category.orange"></span>
                                </td>
                                <td>
                                    <strong>$140.00</strong>
                                </td>
                                <td>
                                    <div class="numbers-row">
                                        <input type="text" value="1" id="quantity_1" class="qty2" name="quantity_1">
                                    <div class="inc button_inc">+</div><div class="dec button_inc">-</div></div>
                                </td>
                                <td>
                                    <strong>$140.00</strong>
                                </td>
                                <td class="options">
                                    <a href="#"><i class="ti-trash"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="thumb_cart">
                                        <img src="assets/img/products/tomatoes.jpg" data-src="img/products/shoes/2.jpg" class="lazy" alt="Image">
                                    </div>
                                    <span class="item_cart" translate="category.tomato"></span>
                                </td>
                                <td>
                                    <strong>$110.00</strong>
                                </td>
                                <td>
                                    <div class="numbers-row">
                                        <input type="text" value="1" id="quantity_2" class="qty2" name="quantity_2">
                                    <div class="inc button_inc">+</div><div class="dec button_inc">-</div></div>
                                </td>
                                <td>
                                    <strong>$110.00</strong>
                                </td>
                                <td class="options">
                                    <a href="#"><i class="ti-trash"></i></a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>

                    <div class="row add_top_30 flex-sm-row-reverse cart_actions">
                    <div class="col-sm-4 text-right">
                        <button type="button" class="btn_1 gray" translate="cart.update"></button>
                    </div>
                        <div class="col-sm-8">
                        <div class="apply-coupon">
                            <div class="form-group form-inline">
                                <input type="text" name="coupon-code" value="" placeholder="Promo code" class="form-control"><button type="button" class="btn_1 outline">Apply Coupon</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /cart_actions -->

    </div>
    <!-- /container -->
    
    <div class="box_cart">
        <div class="container">
        <div class="row justify-content-end">
            <div class="col-xl-4 col-lg-4 col-md-6">
        <ul>
            <li>
                <span translate="cart.subtotal"></span> $240.00
            </li>
            <li>
                <span translate="cart.shiping"></span> $7.00
            </li>
            <li>
                <span translate="cart.total"></span> $247.00
            </li>
        </ul>
        <a routerLink="/checkout" class="btn_1 full-width cart" translate="cart.proceed"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /box_cart -->
    
</main>