
<main>
    <div class="bg_grey">
        <div  class="container margin_30">
            <div class="page_header">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#" translate="home.home"></a></li>
                        <li><a href="#" translate="home.products"></a></li>
                    </ul>
                </div>
                <h1 translate="home.products"></h1>
            </div>
            <!-- /page_header -->
            <!-- /row -->
        </div>
    </div>
    
    <!-- /top_banner -->
    
        <div id="stick_here"></div>		
        <div class="toolbox elemento_stick">
            <div class="container">
            <ul class="clearfix">
                <!-- <li>
                    <div class="sort_select">
                        <select name="sort" id="sort">
                                <option value="popularity" selected="selected">Sort by popularity</option>
                                <option value="rating">Sort by average rating</option>
                                <option value="date">Sort by newness</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to 
                        </select>
                    </div>
                </li> -->
                <li>
                    <a href="#0"><i class="ti-view-grid"></i></a>
                    <a href="listing-row-1-sidebar-left.html"><i class="ti-view-list"></i></a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters">
                        <i class="ti-filter"></i><span translate="search.filters"></span>
                    </a>
                </li>
            </ul>
            <div class="collapse" id="filters"><div class="row small-gutters filters_listing_1">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="drop" translate="search.categories"></a>
                    <div class="dropdown-menu">
                        <div class="filter_type">
                                <ul>
                                    <li>
                                        <label class="container_check" translate="category.butter">Men <small>12</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check" translate="category.milk">Women <small>24</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check" translate="category.oil">Running <small>23</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check" translate="category.honey">Training <small>11</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                                <a href="#0" class="apply_filter" translate="search.apply">Apply</a>
                            </div>
                    </div>
                </div>
                <!-- /dropdown -->
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="drop">Color</a>
                    <div class="dropdown-menu">
                        <div class="filter_type">
                                <ul>
                                    <li>
                                        <label class="container_check">Blue <small>06</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Red <small>12</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Orange <small>17</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Black <small>43</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                                <a href="#0" class="apply_filter">Apply</a>
                            </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="drop">Brand</a>
                    <div class="dropdown-menu">
                        <div class="filter_type">
                                <ul>
                                    <li>
                                        <label class="container_check">Adidas <small>11</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Nike <small>08</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Vans <small>05</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Puma <small>18</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                                <a href="#0" class="apply_filter">Apply</a>
                            </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="drop" translate="search.price">Price</a>
                    <div class="dropdown-menu">
                        <div class="filter_type">
                                <ul>
                                    <li>
                                        <label class="container_check">0 EGP — 50 EGP<small>11</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">50 EGP — 100 EGP<small>08</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">100 EGP — 150 EGP<small>05</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">150 EGP — 200 EGP<small>18</small>
                                          <input type="checkbox">
                                          <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                                <a href="#0" class="apply_filter">Apply</a>
                            </div>
                    </div>
                </div>
                <!-- /dropdown -->
        
            </div></div></div>
            </div>
        </div>
        <!-- /toolbox -->

        <div class="">
            <div class="row m-3 p-2 ">
                <div class="col-lg-2">
                  <div class="product-item" style="width: 205px;">
                    <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                      <div class="css-wt0fwe">
                        <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div>
                      </div>
                      <div class="css-c8w35i">
                        <div class="css-hg3rl0"><a [routerLink]="['/product']" [routerLink]="['/product']">
                          <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/orange.jpg" src="assets/img/products/orange.jpg" data-was-processed="true">
                          <div class="img-placeholder"></div>
                        </figure></a></div>
                        <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"  ><a [routerLink]="['/product']" translate="category.orange"></a></h3>
                        <div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" >
                        <div type="discount"  class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                        <div type="discount"  class="css-1xhl7rjd">100 <b>EGP</b></div>
                        </div>
                        <p class="css-sjzzz0"  [ngClass]="{'rtl': is_rtl}" translate="category.fruits"></p>
                        <div class="css-abm2xy">
                          <div class="css-1mwn02k d-flex">
                            <a [routerLink]="['/wishlist']">
                              <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                          </a>
                            <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                          </div></div></div></div></div>
                </div>
    
                <div class="col-lg-2">
                  <div class="product-item" style="width: 205px;">
                    <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                      <div class="css-wt0fwe">
                        <!-- <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div> -->
                      </div>
                      <div class="css-c8w35i">
                        <div class="css-hg3rl0"><a [routerLink]="['/product']">
                          <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/olive-oil.jpg" src="assets/img/products/olive-oil.jpg" data-was-processed="true">
                          <div class="img-placeholder"></div>
                        </figure></a></div>
                        <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"><a [routerLink]="['/product']" translate="category.olive_oil"></a></h3>
                        <div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" ><div type="discount" class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                        <div type="discount" class="css-1xhl7rjd">95 <b>EGP</b></div>
                        </div>
                        <p class="css-sjzzz0"  [ngClass]="{'rtl': is_rtl}" translate="category.fruits"></p>
                        <div class="css-abm2xy">
                          <div class="css-1mwn02k d-flex">
                            <a [routerLink]="['/wishlist']">
                              <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                          </a>
                            <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                          </div></div></div></div></div>
                </div>
    
                <div class="col-lg-2">
                  <div class="product-item" style="width: 205px;">
                    <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                      <div class="css-wt0fwe">
                        <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div>
                      </div>
                      <div class="css-c8w35i">
                        <div class="css-hg3rl0"><a [routerLink]="['/product']">
                          <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/pomegranate.jpg" src="assets/img/products/pomegranate.jpg" data-was-processed="true">
                          <div class="img-placeholder"></div>
                        </figure></a></div>
                        <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"><a [routerLink]="['/product']" translate="category.pomegranate"></a></h3>
    <div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" ><div type="discount" class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                        <div type="discount" class="css-1xhl7rjd">100 <b>EGP</b></div>
                        </div>                    <p class="css-sjzzz0"  [ngClass]="{'rtl': is_rtl}" translate="category.fruits"></p>
                        <div class="css-abm2xy">
                          <div class="css-1mwn02k d-flex">
                            <a [routerLink]="['/wishlist']">
                              <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                          </a>
                            <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                          </div></div></div></div></div>
                </div>
                <div class="col-lg-2">
                  <div class="product-item" style="width: 205px;">
                    <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                      <div class="css-wt0fwe">
                        <!-- <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div> -->
                      </div>
                      <div class="css-c8w35i">
                        <div class="css-hg3rl0"><a [routerLink]="['/product']">
                          <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/tomatoes.jpg" src="assets/img/products/tomatoes.jpg" data-was-processed="true">
                          <div class="img-placeholder"></div>
                        </figure></a></div>
                        <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"><a [routerLink]="['/product']" translate="category.tomato"></a></h3>
    <div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" ><div type="discount" class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                        <div type="discount" class="css-1xhl7rjd">110 <b>EGP</b></div>
                        </div>                    <p class="css-sjzzz0"  [ngClass]="{'rtl': is_rtl}" translate="category.fruits"></p>
                        <div class="css-abm2xy">
                          <div class="css-1mwn02k d-flex">
                            <a [routerLink]="['/wishlist']">
                              <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                          </a>
                            <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                          </div></div></div></div></div>
                </div>
    
                <div class="col-lg-2">
                  <div class="product-item" style="width: 205px;">
                    <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                      <div class="css-wt0fwe">
                        <!-- <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div> -->
                      </div>
                      <div class="css-c8w35i">
                        <div class="css-hg3rl0"><a [routerLink]="['/product']">
                          <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/pomegranate.jpg" src="assets/img/products/pomegranate.jpg" data-was-processed="true">
                          <div class="img-placeholder"></div>
                        </figure></a></div>
                        <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"><a [routerLink]="['/product']" translate="category.pomegranate"></a></h3>
    <div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" ><div type="discount" class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                        <div type="discount" class="css-1xhl7rjd">100 <b>EGP</b></div>
                        </div>                    <p class="css-sjzzz0"  [ngClass]="{'rtl': is_rtl}" translate="category.fruits"></p>
                        <div class="css-abm2xy">
                          <div class="css-1mwn02k d-flex">
                            <a [routerLink]="['/wishlist']">
                              <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                          </a>
                            <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                          </div></div></div></div></div>
                </div>
    
                <div class="col-lg-2">
                  <div class="product-item" style="width: 205px;">
                    <div points="0"  data-testid="product-card" class="c4-product-card css-1ncs8kg">
                      <div class="css-wt0fwe">
                        <!-- <div type="discount" class="css-hi2i2r"><span>12% Discount</span></div> -->
                      </div>
                      <div class="css-c8w35i">
                        <div class="css-hg3rl0"><a [routerLink]="['/product']">
                          <figure class="css-1peg6kw"><img width="100%" class="lazy loaded" alt="Orange" data-src="assets/img/products/olive-oil.jpg" src="assets/img/products/olive-oil.jpg" data-was-processed="true">
                          <div class="img-placeholder"></div>
                        </figure></a></div>
                        <h3 class="css-1pnv3q4"  [ngClass]="{'rtl': is_rtl}"><a [routerLink]="['/product']" translate="category.olive_oil"></a></h3>
                        <div class="css-3ht5in" [ngClass]="{'f-right': is_rtl}" ><div type="discount" class="css-1xhl7rj">90 <span class="css-k5xvqz">EGP</span></div>
                        <div type="discount" class="css-1xhl7rjd">95 <b>EGP</b></div>
                        </div>
                        <p class="css-sjzzz0"  [ngClass]="{'rtl': is_rtl}" translate="category.fruits"></p>
                        <div class="css-abm2xy">
                          <div class="css-1mwn02k d-flex">
                            <a [routerLink]="['/wishlist']">
                              <h5 style="display: inline;"><span class="lnr lnr-heart"></span></h5><p class="css-du7cmm" translate="cart.add_to"><br><b translate="cart.favourite"></b></p>
                          </a>
                            <button type="button" class="css-du7cmn" data-testid="button" [routerLink]="['/cart']" translate="cart.add_to_cart"></button>
                          </div></div></div></div></div>
                </div>
                
              </div>
        <!-- /row -->
            
        <div class="pagination__wrapper">
            <ul class="pagination">
                <li><a href="#0" class="prev" title="previous page">&#10094;</a></li>
                <li>
                    <a href="#0" class="active">1</a>
                </li>
                <li>
                    <a href="#0">2</a>
                </li>
                <li>
                    <a href="#0">3</a>
                </li>
                <li>
                    <a href="#0">4</a>
                </li>
                <li><a href="#0" class="next" title="next page">&#10095;</a></li>
            </ul>
        </div>
            
    </div>
    <!-- /container -->
</main>